
 li{
   list-style: none;
 }
 a{
   text-decoration: none;
 }
 .list{
   display: flex;
   justify-content: space-around;
   width: 33%;
   position: relative;
   padding: 0px 40px;
 }
 .item:hover .sub{
  display: block;
 }
 
  
 
 .sub{
   border:#4e8abc solid 1px;
   border-width: initial;
   display: none;
 }